@using Azmon.Application.Services.Question.Queries.GetAllCategories
@model List<AllCategoriesDto>
@{
    ViewData["Title"] = "AddNewPack";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddNewPack</h1>
<h1></h1>